
.account-container {
    background-color:  #1e0f8a;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
  }
  
  .login-form {
    color: white;
    text-align: center;

    
  }
  
  .login-form label {
    display: block;
    margin: 10px 0;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
  }
  
  .login-form button {
    background-color: #1e0f8a; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #1538e7; 
  }
  