/* App.css */

/* Navbar styles */

.navbar {
  background-color: #1e0f8a;
  color: #fff;
  display: flex; /* Make the navbar horizontal */
  justify-content: space-between; /* Space between elements, pushing "Account" to the right */
  align-items: center; /* Vertically align items */
  padding: 10px;
}

.navbar-brand {
  font-size: 24px;
  padding: 0.5rem 1rem;
  color: #fff;
}

.navbar-nav {
  list-style: none; /* Remove bullet points for list items */
  display: flex; /* Make the navbar items horizontal */
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1rem; /* Adjust the spacing between navbar items */
  font-size: 1.5em;
  display: inline;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

/* Dropdown styling */
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333;
  border: none;
  min-width: 200px;
}

.dropdown:hover .dropdown-menu {
  display: block; /* Corrected from 'white' to 'block' */
}

.dropdown-item {
  color: #fff;
  padding: 0.5rem 1rem;
}

.dropdown-item:hover {
  background-color: #ff9900;
  color: #bcd52e;
}
