.navbar {
  background-color: #1e0f8a;
  color: #fff;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-brand {
  font-size: 24px;
  padding: 0.5rem 1rem;
  color: #fff;
}
.navbar-nav {
  list-style: none; 
  display: flex; 
  padding: 0;
}

.nav-login {
  margin-right: 2%;
}

.nav-item {
  margin-left: 1rem; 
  font-size: 1.2em;
  display: inline;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}


.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: none;
  min-width: 200px;
}


.dropdown-item {
  padding: 0.5rem 1rem;
}

.dropdown-item:hover {
  background-color: #5971e7;
  color: #bcd52e;
}

.social-links a {
  color: #fff;
  text-decoration: none; 
  margin: 0 10px; 
  font-size: 18px; 
  align-items: center;
  transition: color 0.3s ease;


}

.navbar-brand:hover{
  color:lightskyblue;
}

.social-links a:hover {
  color: #e5e911;
}

.footer {
  position: fixed;
  bottom: 0; 
  width: 100%; 
  background-color: #1e0f8a;
  display: flex;
  justify-content: center;
  padding: 5px;
  color: #fff;
}
